.price-card {
  height: 770px;
  width: 380px;
  background: #334247;
  color: #fff;
  margin-right: 18px;
  overflow: hidden;
  &:last-child {
    margin-right: 0;
  }
  &__title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    padding-top: 33px;
    margin-left: 140px;
    margin-right: 140px;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-left: 150px;
  }
  &__price {
    height: 105px;
    width: 380px;
    text-align: center;
    margin-top: 33px;
    &_green {
      background: #5bb189;
    }
    &_blue {
      background: #3a6ba5;
    }
    &_orange {
      background: #ec632a;
    }
  }
  &__price-text {
    display: inline-block;
    height: 67px;
    width: 160px;
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: center;
    margin: 19px 110px;
  }
  &__description {
    height: 36px;
    width: 327px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: 40px 26px 0 26px;
  }
  &__options-list {
    margin-top: 40px;
  }
  &__list-item {
    width: 380px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    &:nth-child(odd) {
      background-color: #2a3438;
    }
  }
  &__button {
    height: 40px;
    width: 154px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    margin: 39px 113px 40px 112px;
    &_green {
      background: #5bb189;
    }
    &_blue {
      background: #3a6ba5;
    }
    &_orange {
      background: #ec632a;
    }
  }
}
.second {
  position: relative;
  & > h2 {
    margin-left: 108px;
    margin-right: 108px;
  }
}
.third > h2 {
  margin-left: 102px;
  margin-right: 102px;
}

.price-card__popular {
  width: 147px;
  height: 25px;
  position: absolute;
  background: #dc3f45;
  transform: rotate(45deg);
  right: -30px;
  top: 30px;
}
.price-card__popular-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 26%;
  top: 4px;
}
